@keyframes imgLoadingEffect {
  0% {
    color: #979797;
  }
  100% {
    color: #d9d9d9;
  }
}

.files {
  &__banner {
    height: 50px;
    background-color: #3d405b;
    &-userEmail {
      color: #fff;
      text-align: right;
      padding: 14px 25px 0 0;
      user-select: none;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    padding: 20px 30px;
    margin: 0 auto;
  }
}
.files__item {
  box-shadow: 0 0 0 1px #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 0 1px #e5e5e5;
  }
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px 20px 10px 20px;
  }
  &-img {
    width: 100%;
    height: 150px;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: relative;
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: imgLoadingEffect 1s infinite alternate;
    }
  }
  &-title {
    color: #3d405b;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  &-time {
    color: #979797;
    font-size: 12px;
  }
  &-add {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 59px 0 58px 0;
    padding: 84px 0;
    img {
      filter: invert(98%) sepia(0%) saturate(456%) hue-rotate(163deg)
        brightness(87%) contrast(91%);
      width: 64px;
      height: 64px;
      opacity: 0.4;
    }
  }
  &-btn {
    width: 30px;
    height: 30px;
    outline: none;
    background-color: #3d405b;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    img {
      width: 20px;
      width: 20px;
    }
    &:hover {
      background-color: #fb8500;
    }
  }
  &-delCheck {
    position: fixed;
    inset: 0;
    background: #00000033;
    z-index: 20;
    cursor: default;
    &-container {
      width: 300px;
      margin: 150px auto;
      background-color: #fff;
      border-radius: 10px;
      padding: 50px 20px 60px 20px;
    }
    &-msg {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }
    &-btn {
      margin-top: 50px;
      display: flex;
      justify-content: space-evenly;
      img {
        width: 40px;
        height: 40px;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .files {
    &__content {
      padding: 20px 10px;
      grid-template-columns: repeat(3, minmax(230px, 1fr));
    }
    &__item {
      &-container {
        padding: 5px 10px 10px 10px;
      }
    }
  }
}

// tablet
@media (max-width: 768px) {
  .files {
    &__content {
      padding: 20px;
      grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
    &__item {
      &-container {
        padding: 5px 20px 10px 20px;
      }
    }
  }
}

// mobile
@media (max-width: 576px) {
  .files {
    &__content {
      grid-template-columns: 1fr;
    }
  }
}
