.main {
  display: grid;
  // grid-template-columns: 1fr 150px;
  grid-template-columns: 1fr;
  position: relative;
}
.canvas {
  // width: 731px;
  overflow: hidden;
  // height: 408px;
  position: relative;
  &.crosshair {
    cursor: crosshair;
  }
  .canvasOuter {
    position: absolute;
    width: 1024px;
    height: 800px;
  }
}
.canvasStyle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  border-left: 2px solid gray;
  &__container {
    display: flex;
  }
  &__color {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 3px;
    &-code {
      &-prefix {
        // min-width: min-content;
        width: 20px;
      }
    }
  }
  // .stroke-style--solid::before {
  //   content: "     ";
  //   width: 20px;
  //   border: 1px solid #000;
  //   display: inline-block;
  // }
  // .stroke-style--dashed::before {
  //   content: "";
  //   width: 20px;
  //   border: 1px dashed #000;
  //   display: inline-block;
  // }
}
