.Chart {
  .toolbar {
    display: flex;
    // justify-content: space-evenly;
    // justify-content: space-around;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    box-shadow: 0 1px 2px lightgray;
    padding: 5px 10px;
    .react-icon {
      font-size: 25px;
      & > * {
        // stroke-width: 20;
      }
    }
    .toolbar__group {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .toolbar__button {
      display: flex;
      align-items: center;
      height: 30px;
      border-radius: 5px;
      padding: 0 2px;
      cursor: pointer;
      // background-color: #efeeee;
      &:hover,
      &.toolbar__button--active {
        background-color: #efeeee;
      }
    }
    .separator {
      width: 1px;
      height: 20px;
      background: #898989;
      margin: 0 6px;
    }
  }
  .main {
    display: grid;
    // grid-template-columns: 1fr 150px;
    grid-template-columns: 1fr;
    .canvas {
      overflow-x: hidden;
      &.crosshair {
        cursor: crosshair;
      }
    }
    .side {
      border-left: 2px solid gray;
    }
  }
}
