.Header {
  background-color: #f4f1de;
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 5px 20px;
  }
  &__logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    &.Header--isIndex:hover {
      h1 {
        span {
          animation: wordAnimate 2.4s;
          @for $i from 1 through 9 {
            &:nth-child(#{$i}) {
              animation-delay: 0.08s * ($i - 1);
            }
          }
        }
      }
    }
    h1 {
      font-size: 30px;
      line-height: 1em;
      span {
        display: inline-block;
        color: #81b29a;
        &.logo-pre {
          color: #3d405b;
        }
      }
    }
    img {
      width: 32px;
      height: 32px;
    }
  }
  &__menu {
    &-closeIcon {
      display: none;
    }
    ul {
      display: flex;
      li {
        padding: 10px 15px;
        &:first-child {
          padding: 10px 15px 10px 0;
        }
        &:last-child {
          padding: 10px 0 10px 15px;
        }
        a {
          text-decoration: none;
          color: #3d405b;
          font-size: 18px;
          font-weight: bold;
          padding: 2px 10px;
          &:hover {
            border-bottom: 3px solid #e07a5f;
            transition: border-bottom 0.08s;
          }
          &.member {
            color: #f1faee;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
              width: 40px;
              height: 40px;
              background-color: #14213d;
              border-radius: 50%;
              z-index: -1;
            }
          }
        }
      }
    }
  }
  &__menuIcon {
    display: none;
  }
}

@keyframes wordAnimate {
  5% {
    opacity: 0.3;
  }
}

// laptop
@media (max-width: 768px) {
  .Header {
    &__menu {
      position: fixed;
      inset: 0 0 0 150%;
      background-color: #f4f1de;
      z-index: 10;
      transition: inset 0.3s;
      &--display {
        inset: 0;
      }
      &-closeIcon {
        display: block;
        cursor: pointer;
        padding: 15px;
        img {
          width: 30px;
          margin-left: auto;
          padding: 5px;
          &:hover {
            background: #e7e6e6;
            border-radius: 5px;
          }
        }
      }
      ul {
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        li {
          &:nth-child(n) {
            padding: 15px 15px;
          }
        }
      }
    }
    &__menuIcon {
      display: block;
      cursor: pointer;
      margin: 5px 0 10px 0;
      img {
        width: 30px;
        padding: 5px;
        &:hover {
          background: #e7e6e6;
          border-radius: 5px;
        }
      }
    }
  }
}
