.toolList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: #3d405b;
  &__container {
    display: flex;
    height: 100%;
    align-items: center;
  }
  &__separator {
    width: 2px;
    height: 30px;
    background-color: lighten(#3d405b, 20%);
    line-height: 50px;
    margin: 0 10px;
  }
  &__title {
    color: #fff;
    background-color: #3d405b;
    outline: none;
    border: none;
    text-align: center;
    font-size: 20px;
  }
  .percent {
    width: 60px;
    text-align: right;
  }
}

.toolItem {
  height: inherit;
  background-color: #3d405b;
  color: #fff;
  display: flex;
  cursor: pointer;
  position: relative;
  &--unactive {
    cursor: default;
    & p,
    & .toolItem__img {
      opacity: 0.4;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    height: inherit;
    background-color: #3d405b;
    padding: 0 10px;
    .toolItem--hasDropdown & {
      &:nth-child(1) {
        padding: 0 1px 0 10px;
      }
      &:nth-child(2) {
        padding: 0 10px 0 1px;
      }
    }
    .toolItem:not(.toolItem--unactive) &:hover,
    .toolItem--active & {
      background-color: lighten(#3d405b, 20%);
    }
  }
  &__img {
    object-fit: contain;
    width: 30px;
    height: 30px;
    min-width: 30px;
    &-dropdown {
      width: 15px;
      height: 15px;
      min-width: 15px;
    }
  }
  &__dropdown {
    position: absolute;
    background-color: #3d405b;
    top: 57px;
    left: 5px;
    padding: 5px 0;
    z-index: 1000;
    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: 20px;
      width: 10px;
      height: 20px;
      transform: rotate(45deg);
      background-color: #3d405b;
      z-index: -1;
    }
    & > * {
      .toolItem--hasDropdown & {
        &:nth-child(1),
        &:nth-child(2) {
          padding: 8px 18px;
        }
      }
      padding: 5px 18px;
      .toolItem.toolItem--active & {
        background-color: #3d405b;
      }
      &:hover {
        background-color: lighten(#3d405b, 20%);
      }
      & > img {
        margin-right: 8px;
        width: 25px;
        height: 25px;
        min-height: 25px;
      }
      & > p {
        display: inline-block;
        margin-right: 18px;
        white-space: nowrap;
      }
    }
  }
}
